*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f4f4f4;
}
header.header{
    background: rgb(5, 72, 83);
    padding: 1em;
    color: white;
    box-shadow: inset 1px 0 3px rgba(255,255,255,.3);
}